DATABASE_URL=postgresql://user:password@host-pooler.region.aws.neon.tech/database?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://user:password@host.region.aws.neon.tech/database?sslmode=require
PAYLOAD_SECRET=replace-with-a-long-random-secret
ADMIN_EMAIL=admin@example.com
SERVER_URL=http://localhost:3000
BLOB_READ_WRITE_TOKEN=
